.product_card {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  width: 300px;
  border: 1px solid green;
  overflow: hidden;
  cursor: pointer;
  padding-bottom: 10px;
}
.product_card img {
  width: 100%;
  height: 200px;
}
.content{
  padding: 0px 10px;
}
.description {
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden; 
  text-overflow: ellipsis; /
}

.container_button_add{
  display: flex;
  justify-content: center;

}
.button_add-product{
  all: unset;
  background: pink;
  border-radius: 5px;
  padding: 8px;
  color: green;
  font-weight: bold;

}
